// build/utils.js configures scss to load global variables from this file

$nashville-zone-lookup-blue: #1b355d;
$primary-text-color: #000;
$light-text-color: #fff;
$secondary-text-color: #4a4a4a;
$secondary-blue: #384a6a;
$highlight-blue: #dee3ed;
