<!DOCTYPE html>
<html>
    <head>
        <title>Setback 615</title>
        <meta name="description" content="Accurately determine the set back for your Nashville property">
        <link id="favicon" rel="icon" href="" type="image/x-icon">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="normalize.css">
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <div id="app">
            <nav>
                <a class="home-icon" href="#">{{ title }}</a>
            </nav>

            <header>
                <h1 id="welcome-to-setback">Welcome to Setback 615!</h1>
            </header>

            <main>
                <label class="is-hidden-accessible" for="address-input">Address Input</label>

                <div class="input-group">
                    <input class="address-input" type="text"
                        @input="doSearch"
                        v-model="addressQuery"
                        placeholder="Nashville City Hall, Nashville, TN, 37201"/>

                    <img class="loading-spinner" v-show="showSearchSpinner" src="/spinner.gif"/>
                </div>


                <ul class="address-results">
                    <li v-for="address in addressResults" @click="getZoningInfo(address)">
                        {{ address.address }}
                    </li>
                </ul>

                <section id="zoning-info"
                    v-if="showZoningInfo">
                    <p class='zone'> Zoning:   {{ zoningInfo.zoning }}  </p>
                    <p> Single Family Setback: </p>
                    <p>
                        <span> Minor and local streets: </span>
                        {{ zoningInfo.single && zoningInfo.single["minor-local-local"] || "n/a" }}
                    </p>
                    <p>
                        <span> All other streets: </span>
                        {{ zoningInfo.single && zoningInfo.single["all-other"] || "n/a" }}
                    </p>
                    <p> Multi Family Setback:   {{ zoningInfo.multi || "n/a" }}  </p>
                    <p> Description:   {{ zoningInfo.description }}  </p>
                    <p> Ordinance:   {{ zoningInfo.ordinance }}  </p>
                </section>

                <section id="introduction" v-if="showIntro">
                    <p>Enter your street address to receive your property setbacks.</p>
                    <p>If we can't calculate your setbacks due to a special exception to the rules
                        we'll let you know who to contact to get help</p>
                </section>

                <div id="error-notification"
                    v-if="showError">
                    {{ errorMessage }}
                </div>
            </main>
        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
        <script src="//unpkg.com/vue@2.0.1/dist/vue.js" type="text/javascript"></script>
        <script src="polyfills.js" type="text/javascript" /></script>
        <script src="es6-promise.auto.min.js" type="text/javascript" /></script>
        <script src="fetch.js" type="text/javascript"></script>
        <script src="app.js"></script>

    </body>
</html>
