* {
    box-sizing: border-box;
}

body {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
}

nav {
    max-width: 1140px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #172f68;
    color: white;
    padding: 5px;
    width: 100%;
    /* Permalink - use to edit and share this gradient:
     * http://colorzilla.com/gradient-editor/#7db9e8+0,172f68+12&0+0,0.62+15,1+41
     * */
    background: -moz-linear-gradient(left, rgba(125,185,232,0) 0%, rgba(23,47,104,0.5) 12%, rgba(23,47,104,0.62) 15%, rgba(23,47,104,1) 41%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(125,185,232,0) 0%,rgba(23,47,104,0.5) 12%,rgba(23,47,104,0.62) 15%,rgba(23,47,104,1) 41%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(125,185,232,0) 0%,rgba(23,47,104,0.5) 12%,rgba(23,47,104,0.62) 15%,rgba(23,47,104,1) 41%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#172f68',GradientType=1  ); /* IE6-9 */
}

nav a {
    text-decoration: none;
    color: inherit;
}

.nav-wrap {
    background-image: url("/mural_cropped.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 248px;
    width: 100%;
}

main {
    max-width: 500px;
    margin: auto;
    margin-bottom: 36px;
    background: #f7f7f7;
    padding: 16px;
    border-bottom: 2px solid #cdcdcd;
}

h1 {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

.input-group {
    position: relative;
}

.loading-spinner {
    position: absolute;
    width: 40px;
    height: 40px;
    left: -40px;
    top: -3px;
}

.address-input {
    box-sizing: border-box;
    width: 100%;
}

ul.address-results {
    background-color: white;
    list-style: none;
    margin-top: 0px;
    /* Overrides default left-padding for ul */
    padding-left: 0px;
}

li.address-result {
    /* Truncate text with an ellipsis */
    border-bottom: 1px solid #cdcdcd;
    overflow: hidden;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    font-size: 18px;
}

/* Only border top for first list item. Otherwise we get a double border between list items */
li.address-result:not(:first-child) {
    border-top: 0px;
}

li:hover {
    background-color: skyblue;
}

.zoning-info {
    margin-top: 24px;
}

.zone {
    margin: auto;
    font-size: 50px;
    color: green;
}

#error-notification {
  color: red;
  background-color: lightpink;
  padding: 8px;
  width: 100%;
  margin-top: 24px;
}

/* utility classes */
.is-hidden-accessible {
    left: -1000px;
    position: absolute;
}
